section#about-me {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  background-color: var(--secondary-color);
}

.about-me_img,
.about-me_content {
  flex-basis: 40rem;
  padding: 2rem;
  flex-grow: 1;
}

.about-me_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-me_content--title {
  font-size: 4rem;
  padding: 1rem 0;
  color: white;
  text-transform: uppercase;
  position: relative;
}

.about-me_content--title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.3rem;
  width: 10%;
  background-color: var(--primary-color);
}

.about-me_content--title,
.about-me_content--para {
  margin-bottom: 4rem;
  letter-spacing: 0.2;
}

.about-me_content--para {
  font-size: 1.8rem;
  font-family: "Indie flower", cursive;
}

.about-me_content--link:link,
.about-me_content--link:visited {
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.about-me_content--link:link::after,
.about-me_content--link:visited::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  transform: scaleY(0);
  transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform-origin: bottom;
}

.about-me_content--link:hover::after,
.about-me_content--link:active::after {
  transform: scaleY(1);
  transform-origin: top;
  z-index: -1;
}
